@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700;800&display=swap');

body {
    background: #FAFAFA;
    margin: 0;
    font-family: 'Nunito';
}

section.hero {
    margin-top: 3em;
    .title {
        text-align: center;
        font-size: 32px;
        font-weight: 800;
        margin-bottom: .5em;
    }

    .desc-top {
        font-weight: 600;
        text-align: center;
        font-size: 24px;
    }

    .desc {
        text-align: center;
        font-size: 20px;
    }
}

section.program {
    .card {
        background: white;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        border: 1px solid #E4E4E4;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        width: 430px;

        padding: 16px 24px;
        border-radius: 5px;
        margin: 3em auto;

        .card-title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: .5em;
        }

        label {
            font-size: 16px;
            margin-bottom: .3em;
        }

        #id-kata {
            border-bottom: .5px solid #E4E4E4;
            margin-bottom: .5em;
        }

        #id-kata:focus {
            outline: none;
            border: none;
            border-bottom: .5px solid #1F7973;
            transition-duration: 0.4s;
        }

        #btn-submit-kata {
            margin-top: 1em;
            background-color: #1F7973;
            color: white;
            padding: 5px 20px;
            font-family: 'Nunito';

            border-radius: 5px;
            border: none;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;

            cursor: pointer;
        }

        #btn-clear {
            margin-top: 1em;
            color: #8E8E8E;
            background-color: #F2F2F2;
            padding: 5px 20px;
            font-family: 'Nunito';

            border-radius: 5px;
            border: none;
            text-align: center;
            display: inline-block;
            font-size: 16px;

            margin-bottom: .5em;

            cursor: pointer;
        }

        .keterangan {
            font-weight: 800;
        }
    }
}